<p>Returns a delayed response (max of 10 seconds).</p>
<p>More info: <a href="http://httpbin.org/#/operations/Dynamic data/get_delay__delay_" target="_blank">httpbin.org &raquo; delay</a></p>

<input type="text" value="" name="delay" id="delay" placeholder="Delay, sec (default = 5)" />

<button id="sampleCTA">Get remote data</button>

<pre id="dataContainer"></pre>