<%- include('components/header'); -%>

<% if (typeof(subTemplate) !== 'undefined' && subTemplate !== '') { %>
  <%- include(`${subTemplate}`); -%>
<% } %>

<script src="/js/app.js"></script>

<% if (typeof(subTemplateJS) !== 'undefined' && subTemplateJS.length > 0) { %>
  <% subTemplateJS.forEach(function(fileJS) { %>
    <%- include(`${fileJS}`); -%>
  <% }); %>
<% } %>

</body>
</html>